
MyLifeInSeconds/.vs/MyLifeInSeconds/FileContentIndex/79cb9d46-e4e5-4c72-a8fd-7914b027ea2a.vsidx
MyLifeInSeconds/.vs/MyLifeInSeconds/FileContentIndex/accb63dd-5c23-425d-90c4-23d6172f9f85.vsidx
*.vsidx
